%li.block-wrapper
  .grid-block
    %a{:href=>"#"}
      = image_tag "noodles.jpg"
      .average-pricing
        %h4 $7 <sup>.50</sup>
        %span per person
      .restaurant-info
        %h6 Slurping Turtle
        %p Ramen Noodles
      .info-overlay
        %p A huge assortment of Pizza Capri's popular pizza and appetizers, perfect for any casual gathering