.grid-filters
  .button-bar
    %ul.button-group
      %li
        %a.button.active{:href => "#"} $
      %li
        %a.button{:href => "#"} $$$$

    %ul.button-group
      %li
        %a.button.active{:href => "#"} 
          %i.fa.fa-th-large

      %li
        %a.button{:href => "#"} 
          %i.fa.fa-th-list

    %ul.button-group
      %li
        %a.button.active{:href => "#"} None
      %li
        %a.button{:href => "#"} Cuisine
      %li
        %a.button{:href => "#"} Restaurant