@import "globals/all";
@import "foundation/components/grid";

.sidebar {
	@include grid-column(4);
	padding-top: 30px;
	@media (min-width: 790px) {
		padding-left: 12%;
		padding-right: 25px;
	}
	@media (max-width: 660px) {
		display: none;
	}

	// Assumably persistent across all Sidebar due to lack of header
	.fooda-logo {
		margin-bottom: 20px;
		.logo-img {
			width: 100%;
			max-width: 225px;
			height: auto;
		}
	}

	.sidebar-title {
		margin-top: 30px;
		margin-bottom: 30px;
		font-weight: normal;
	}

	// Sidebar Form Fields
	.label-icon {
		@include grid-column(1);
		padding: 0;
		label {
			height: 25px;
			width: 25px;
			text-align: center;
			img {
				padding-top: 3px;
			}
		}

		// These 'hacks' are necessary due to the icons used in this design not having consistent width and height. I don't have access to the illustrator files to create new, proportional icons based on the svgs being used here.
		&.date {
			label img {
				padding-top: 6px;
			}
		}
		&.budget {
			label img {
				padding-top: 6px;
			}
		}
	}

	// Form Input fields found in sidebar, such as 'zip code'
	.sidebar-input {
		@include grid-column(11);
		padding-right: 0;
		padding-left: 10px;
		input {
			border-radius: 4px;
			height: 30px;
			margin-bottom: 10px;
			box-shadow: none;
		}
	}

	// Sidebar Form Fields that contain an attached icon after the input
	.postfix-input {
		@include grid-column(9);
		padding-left: 10px;
		padding-right: 0;
		input {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			height: 30px;
			margin-bottom: 10px;
		}
	}
	.postfix-span {
		@include grid-column(2);
		padding: 0px;
		span {
			height: 30px;
			line-height: 28px;
		}
	}

	// Accordian style filter menu 
	.sidebar-accordian {
		@include grid-column(11);
		padding-right: 0;
		padding-left: 15px;
		padding-bottom: 10px;
		line-height: 30px;
		font-size: 14px;
		&:after {
			position: absolute;
			display: block;
			font-family: FontAwesome;
			content: "\f107";
			font-size: 14px;
			right: 0;
			top: 0;
		}
	}
}



// Main Content, containing the restaurant location grid
.main-content {
	@include grid-column(8);
	background-color: #fff;
	border-left: 1px solid #e2e2e4;
	min-height: 300px;
	padding-left: 0;
	@media (max-width: 660px) {
		width: 100%;
		border-left: none;
	}
}

.grid-header {
	@include grid-column(8);
	background: #fff;
	background: rgba(255,255,255,.98);
	position: fixed;
	z-index: 999;
	padding-bottom: 9px;
	padding-top: 20px;
	margin-top: -4px;
	padding-left: 15px;
	border-top: 4px solid #169998;
	@media (max-width: 660px) {
		width: 100%;
		position: relative;
	}

	.grid-logo {
		text-align: center;
		margin-bottom: 10px;
		img {
			width: 75%;
			max-width: 180px;
		}
	}

	.grid-filters {
		display: inline-block;
	}

	.left-off-canvas-toggle {
		border: 1px solid;
		border-radius: 3px;
		padding: 5px 10px;
		float: left;
	}

	.shopping-cart {
		display: inline-block;
		float: right;
		background: #169998;
		border-radius: 4px;
		height: 30px;
		width: 30px;
		text-align: center;
		margin-right: 15px;
		@media (min-width: 640px) and (max-width: 984px) {
			margin-right: 0;
		}
		@media (max-width: 640px) {
			position: absolute;
			top: -3px;
			right: -15px;
		}
		img {
			width: 75%;
			padding-top: 5px;
		}
	}

	.user-login {
		display: inline-block;
		float: right;
		margin-bottom: 5px;
		@media (min-width: 640px) and (max-width: 964px) {
			float: left;
		}
	}
}

.restaurant-grid {
	padding-left: 15px;
	margin-top: 80px;
	@media (max-width: 963px) {
		margin-top: 95px;
	}
}

// Filters shown on mobile
.left-off-canvas-menu {
	background: $foodaGrey;
	.sidebar {
		width: 100%;
		padding-left: 10px;
		@media (max-width: 660px) {
			display: block;
		}
	}
}