<!DOCTYPE html>
<html>
<head>
  <title>Fooda</title>
  <meta name="viewport" content="width=device-width, initial-scale=5.0" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
